@import '../fcomponents.css';

.textarea-container {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.textarea-div{  
    width: 90%;
    margin-top: 10px;
}

