@import '../fcomponents.css';

.item-div{
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 90fp;
    padding: 10fp;
}
.img-add{
    object-fit: contain;
    width: 100fp;
    height:100fp;
}
