@import '../fcomponents.css';

picker {
    width: 80%;
    height: 40px;
    border-radius: 20px;
    text-color: white;
    font-size: 20fp;
    background-color: #4747e3;
}

.input-mut{
    width: 80%;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.item-div{
    flex-direction: column;
}

.item-div label{

}

